body{
 background: url("https://i.ytimg.com/vi/kxfeTcty3Do/maxresdefault.jpg") no-repeat center;
}
h2{
 font-family: 'Spirax', cursive;
 background-color:blue;
}



table,header,footer{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
table {
  border-collapse: separate;
  margin: auto;
  width: 80%;
  padding: 40px;
}
table td, th {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff; opacity: 0.9; 
  border: 3px solid #29237a;
  border-radius: 5px;
  text-align: left;
  color: #ea3a3a; 
  font-size: 22px;
}
th {
  height: 50px;
  text-align: center;
  color: purple;
}
